body {
    background-color: black;
    font-family: arial;
    color: white}

h1 {
    color:grey;
    font-family:verdana
}

.maindiv {
    background-color: white;
    color: black;
    width: 500px; /* the instructions says 300px but the desired result looks more like 500px */
    padding: 20px;
    border-radius: 25px;
    align-content: center; /* this isn't doing anything as align, making it align-content */
    margin: auto
}

.row {
    padding-top: 10px;
    width: 100%;
    padding-left: 80px;
}

label {
    width: 100px;
    margin-right: 15px;
    float: left;
}